@model Beervolution.Models.Beer

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

<style>
    body {
        background-size: auto;
        background-image: url("../../Images/background-image.jpg");
        background-color: #cccccc;
    }

    .margins {
        margin-left: 15px;
        margin-right: 15px;
    }

    .padding-top {
        padding-top: 15px;
    }

    .padding-right {
        padding-right: 5px;
    }

    body-content {
        font-size: 18px;
    }
</style>

<script>
    $("#review-link").on("click", function () {

        alert("clicked");

        $.ajax({
            type: "GET",
            url: "/Reviews/Create",
            success: function (data) {
                $("#create-modal-body").html(data); // #temp is the empty div
                $("#createModal").modal("show"); // myModal is the root div id of the html result
            }
        });
    });
</script>

<div class="panel">
    <div class="row margins">
        <div class="col-md-6" style="float:left">
            <h2>@Model.Manufacturer.Name - @Model.Name</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Manufacturer.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manufacturer.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InclusiveKit)
                </dt>

                <dd>
                    @{string isInclusive = Model.InclusiveKit ? "Yes" : "No"; }
                    @isInclusive
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TargetPercentage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TargetPercentage) %
                </dd>
            </dl>
        </div>
        <div class="col-md-6" style="float:right">
            <br />
            @if (!String.IsNullOrEmpty(Model.ImageUrl))
            {
                <img class="group list-group-image" src="@Model.ImageUrl" style="width:400px; height:250px" />
            }
            else
            {
                <img class="group list-group-image" src="~/Images/no-image.jpg" style="width:400px; height:250px" />
            }
        </div>
    </div>
    <br />
    <div class="row well well-sm margins">
        <div style="float:left" class="padding-right"><h4>Have you made this beer?</h4></div>
        <div style="float:left">@Html.ActionLink("Create a Brew with this Beer", "Create", "Brews", new { beerID = Model.ID }, new { @class = "btn btn-default" })</div>
        <div style="float:right">@Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-default" })</div>
        <div style="float:right" class="padding-right">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })</div>
    </div>

    <div class="row margins">
        <div class="panel-group" id="accordion">

            @foreach (var brew in Model.Brews)
            {
                <div class="row panel panel-default">
                    <div class="panel-heading">
                        @{ string id = "collapse" + brew.ID; }
                        @{ string href = "#collapse" + brew.ID; }

                        @{ string createdDate = @brew.CreatedDate != null ? brew.CreatedDate.ToShortDateString() : ""; }
                        <div class="row margins">
                            <div class="col-md-10" data-toggle="collapse" data-parent="#accordion" href="@href" style="float:left">Brew by @brew.CreatedBy.Name - @createdDate</div>
                            <div id="rating" class="col-md-2" style="float:right">
                                @if (brew.Reviews.Count > 0)
                                {
                                    string modalID = "modal" + brew.ID;
                                    string modalIDHash = "#" + modalID;
                                    <a class="text-right" style="float:right" data-toggle="modal" data-target="editModal">
                                        <div class="stars" style="float:right">
                                            @if (brew.Reviews.First().OverallRating == 1)
                                            {
                                                <div class="star fullStar"></div><div class="star ifp_es"></div><div class="star ifp_es"></div><div class="star ifp_es"></div><div class="star ifp_es"></div>
                                            }
                                            else if (brew.Reviews.First().OverallRating == 2)
                                            {
                                                <div class="star fullStar"></div><div class="star fullStar"></div><div class="star ifp_es"></div><div class="star ifp_es"></div><div class="star ifp_es"></div>
                                            }
                                            else if (brew.Reviews.First().OverallRating == 3)
                                            {
                                                <div class="star fullStar"></div><div class="star fullStar"></div><div class="star fullStar"></div><div class="star ifp_es"></div><div class="star ifp_es"></div>
                                            }
                                            else if (brew.Reviews.First().OverallRating == 4)
                                            {
                                                <div class="star fullStar"></div><div class="star fullStar"></div><div class="star fullStar"></div><div class="star fullStar"></div><div class="star ifp_es"></div>
                                            }
                                            else if (brew.Reviews.First().OverallRating == 5)
                                            {
                                                <div class="star fullStar"></div><div class="star fullStar"></div><div class="star fullStar"></div><div class="star fullStar"></div><div class="star fullStar"></div>
                                            }
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div id="@id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row margins">
                                <div class="col-xs-4">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Start Date
                                        </dt>

                                        <dd>
                                            @{ string startDate = @brew.StartDate != null ? brew.StartDate.ToShortDateString() : ""; }
                                            @startDate
                                        </dd>

                                        <dt>
                                            Bottle Date
                                        </dt>

                                        <dd>
                                            @{ string bottleDate = @brew.BottleDate != null ? Convert.ToDateTime(brew.BottleDate).ToShortDateString() : ""; }
                                            @bottleDate
                                        </dd>

                                        <dt>
                                            Description
                                        </dt>

                                        <dd>
                                            @brew.Description
                                        </dd>

                                        <dt>
                                            Starting Gravity
                                        </dt>

                                        <dd>
                                            @brew.StartingGravity
                                        </dd>

                                        <dt>
                                            Final Gravity
                                        </dt>

                                        <dd>
                                            @brew.FinalGravity
                                        </dd>

                                        <dt>
                                            Secondary Fermentation
                                        </dt>

                                        <dd>
                                            @brew.SecondaryFermentation
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-xs-8">
                                    <dl class="dl-horizontal">

                                        <dt>
                                            Water Type
                                        </dt>

                                        <dd>
                                            @brew.Variables.WaterType
                                        </dd>

                                        <dt>
                                            Fermentable Type
                                        </dt>

                                        <dd>
                                            @brew.Variables.FermentableType
                                        </dd>

                                        <dt>
                                            Fermentable Amount
                                        </dt>

                                        <dd>
                                            @brew.Variables.FermentableAmount KG
                                        </dd>

                                        <dt>
                                            Total Volume
                                        </dt>

                                        <dd>
                                            @brew.Variables.TotalVolume L
                                        </dd>

                                        <dt>
                                            Brew Temperature
                                        </dt>

                                        <dd>
                                            @brew.Variables.BrewTemp &deg;C
                                        </dd>

                                        <dt>
                                            Hop Details
                                        </dt>

                                        <dd>
                                            @brew.Variables.HopDetails
                                        </dd>
                                    </dl>
                                </div>



                                @if (Request.IsAuthenticated)
                                {
                                    <div class="row">
                                        <div style="float:right">@Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-default" })</div>
                                        <div style="float:right" class="padding-right">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>  