@model Beervolution.Models.Brew

<style>
    .icon-size {
        height: 15%;
        width: 15%;
    }

    .padding-top {
        padding-top: 20px;
    }
</style>

<div class="row padding-top">
    <div class="col-sm-6">
        <h3>Are you sure you want to delete this brew?</h3>
        <h4></h4>
    </div>
    <div class="col-sm-6 text-right">
        <img src="~/Images/barrel-delete-icon.png" title="Delete beer" class="icon-size" />
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartingGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingGravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalGravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalGravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottleDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions text-center">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
